
    server{
    listen 0.0.0.0:80;
    listen [::]:80;
    default_type application/octet-stream;
    error_log /var/log/nginx/error.log debug;

    gzip                    on;
    gzip_comp_level         6;
    gzip_vary               on;
    gzip_min_length         1000;
    gzip_proxied            any;
    gzip_types              text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers            16 8k;
    client_max_body_size    256M;

    root /app/;

    #rewrite ^/old/(.*)$ /$1;

    rewrite ^/(.*)$ /sub/$1;

    location /inspect{
        add_header  Content-Type text/plain;
        return 200 "${request_uri}";  # test the variable using curl localhost:8081/<any uri>
    }

    location ~ \.png {
        return 301 sub/assets/nginx-jpeg.jfif ;
    }

        location /assets/ {
            #assets within the root
         autoindex on;
        }

        location / {
        # matches any path within the root
        try_files $uri $uri/ $uri/index.html =404;
        autoindex on;
        }
        error_page  404              /index.html;

    }
